USE [master]
GO
/****** Object:  Database [CLASES]    Script Date: 12-10-2023 15:15:19 ******/
CREATE DATABASE [CLASES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLASES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CLASES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLASES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CLASES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLASES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLASES]
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 12-10-2023 15:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[ID_ALUMNO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ALUMNO] [varchar](50) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[ID_ASIGNATURA] [int] NOT NULL,
 CONSTRAINT [PK_ALUMNO] PRIMARY KEY CLUSTERED 
(
	[ID_ALUMNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNATURA]    Script Date: 12-10-2023 15:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNATURA](
	[ID_ASIGNATURA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_ASIGNATURA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ASIGNATURA] PRIMARY KEY CLUSTERED 
(
	[ID_ASIGNATURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALUMNO] ON 

INSERT [dbo].[ALUMNO] ([ID_ALUMNO], [NOMBRE_ALUMNO], [ESTADO], [ID_ASIGNATURA]) VALUES (1, N'ALUMNO A', 1, 1)
INSERT [dbo].[ALUMNO] ([ID_ALUMNO], [NOMBRE_ALUMNO], [ESTADO], [ID_ASIGNATURA]) VALUES (2, N'ALUMNO B', 1, 2)
INSERT [dbo].[ALUMNO] ([ID_ALUMNO], [NOMBRE_ALUMNO], [ESTADO], [ID_ASIGNATURA]) VALUES (3, N'ALUMNO C', 2, 3)
SET IDENTITY_INSERT [dbo].[ALUMNO] OFF
GO
SET IDENTITY_INSERT [dbo].[ASIGNATURA] ON 

INSERT [dbo].[ASIGNATURA] ([ID_ASIGNATURA], [NOM_ASIGNATURA]) VALUES (1, N'LENGUAJE DE PROGRAMACION I')
INSERT [dbo].[ASIGNATURA] ([ID_ASIGNATURA], [NOM_ASIGNATURA]) VALUES (2, N'LENGUAJE DE PROGRAMACION II')
INSERT [dbo].[ASIGNATURA] ([ID_ASIGNATURA], [NOM_ASIGNATURA]) VALUES (3, N'CONSTRUCCION DE SOFTWARE')
SET IDENTITY_INSERT [dbo].[ASIGNATURA] OFF
GO
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_ALUMNO_ASIGNATURA] FOREIGN KEY([ID_ASIGNATURA])
REFERENCES [dbo].[ASIGNATURA] ([ID_ASIGNATURA])
GO
ALTER TABLE [dbo].[ALUMNO] CHECK CONSTRAINT [FK_ALUMNO_ASIGNATURA]
GO
USE [master]
GO
